.Rproj.user
.Rhistory
.RData
.Ruserdata
doc
results_cache
results/ghs_population2020
results/worldclim_bio
results/GHS_pop_2020.zip
results/wc2.1_2.5m_bio.zip
results/spei12.nc
results/env_precip_mean_wgs84.tiff
results/env_spei_mean_wgs84.tiff
results/env_temp_mean_wgs84.tiff
results/pop_2020_wgs84.tiff
results/hb_df.parquet
results/hb_photos_cache.rds
results/hb_df.csv
results/hb_80_raster_H2_5S.tiff
results/hb_80_raster_H2_5S_wgs84.tiff
results/hb_80_raster_NODF_5S.tiff
results/hb_80_raster_NODF_5S_wgs84.tiff
results/hb_80_raster_cc_5S.tiff
results/hb_80_raster_cc_5S_wgs84.tiff
results/hb_80_raster_cchb_5S.tiff
results/hb_80_raster_cchb_5S_wgs84.tiff
results/hb_80_raster_ccpl_5S.tiff
results/hb_80_raster_ccpl_5S_wgs84.tiff
results/hb_80_raster_compdiv_5S.tiff
results/hb_80_raster_compdiv_5S_wgs84.tiff
results/hb_80_raster_connectance_5S.tiff
results/hb_80_raster_connectance_5S_wgs84.tiff
results/hb_80_raster_qFD_5S.tiff
results/hb_80_raster_qPD_5S.tiff
results/hb_raster_qFD_3S_est95.tiff
results/hb_raster_qFD_3S_est95_wgs84.tiff
results/hb_raster_qPD_3S_est95.tiff
results/hb_raster_qPD_3S_est95_wgs84.tiff
results/hb_raster_qTD_est95.tiff
results/hb_raster_qTD_est95_wgs84.tiff
results/selelev_mean.tiff
.DS_Store
MapHB/.Rprofile
